* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
select,
input {
  outline: none;
}

.hero {
  background: #ffd845;
}

.box {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-style,
.input-style,
.btn-style {
  border-radius: 10px;
  border: 2px solid #000;
  background: #fff;
  color: #000;
  font-size: 18px;
  line-height: normal;
}
.select-style {
  width: 200px;
  padding: 10px 0;
  text-align: center;
}
.input-style {
  width: 230px;
  padding: 10px 5px 10px 5px;
}
input::placeholder {
  color: #000;
  font-size: 18px;
  line-height: normal;
}
.btn-style {
  width: 140px;
  padding: 10px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#card {
  border: 2px solid #000;
}
.card {
  &__title {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
  }
  &__text {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &__body {
    border-top: 2px solid #000;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
  }
  &__kg,
  &__age {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.change:hover {
  fill: red;
}
.change:active {
  fill: black;
}
